# User Information
[user]
    name = zeyad sleem
    email = zeyadsleem1@gmail.com

[init]
    defaultBranch = main

[pull]
    rebase = true
[push]
    autoSetupRemote = true
    followTags = true

[diff]
    algorithm = histogram
    colorMoved = zebra
[merge]
    conflictStyle = zdiff3

[commit]
    verbose = true

[branch]
    sort = -committerdate

[fetch]
    prune = true

[core]
    editor = $EDITOR
    pager = delta

[delta]
    features = side-by-side line-numbers
    syntax-theme = Dracula
    navigate = true

[rerere]
    enabled = true

[rebase]
    autosquash = true
    autoStash = true
[gui]
	recentrepo = /home/zeyad/learn/cron-jobs
