[Unit]
Description=Disable Power Button Wakeup
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /home/zeyad/dotfiles/.local/bin/disable-pbtn-wake.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target