"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"


[mgr]
linemode = "size"
ratio = [0, 2, 6]
sort_by = "natural"
sort_dir_first = true
show_hidden = true

[preview]
max_width = 3024  # default = 600
max_height = 1964 # default = 900
# https://yazi-rs.github.io/docs/tips#make-yazi-even-faster
image_delay = 0

[plugin]
prepend_previewers = [
  { name = "*.md", run = "glow" },
  { name = "*.svg", run = "image" },
  # Archive preview
  { mime = "application/*zip", run = "archive" },
  { mime = "application/x-tar", run = "archive" },
  { mime = "application/x-bzip2", run = "archive" },
  { mime = "application/x-gzip", run = "archive" },
  { mime = "application/x-7z-compressed", run = "archive" },
  { mime = "application/x-rar", run = "archive" },
]
prepend_fetchers = [
  { id = "git", name = "*", run = "git" },
  { id = "git", name = "*/", run = "git" },
]

[opener]
# Image viewer - uses xdg-open to respect mimeapps.list
image = [
  { run = 'xdg-open "$@"' },
  { run = 'imv "$@"' },
]

# Video player
play = [
  { run = 'mpv --force-window "$@"' },
  { run = 'iina --no-stdin "$@"' },
  { run = '''mediainfo "$1"; echo "Press enter to exit"; read''', block = true, desc = "Show media info" },
]

# Text editor
edit = [
  { run = 'nvim "$@"' },
  { run = '$EDITOR "$@"' },
  { run = 'xdg-open "$@"' },
]

[open]
prepend_rules = [
  # Images open with Loupe
  { mime = "image/*", use = ["image"] },
  
  # Videos
  { mime = "video/*", use = ["play"] },
  
  # Text files open with nvim
  { mime = "text/*", use = ["edit"] },
  
  # Subtitles
  { name = "*.{ass,srt,ssa,sty,sup,vtt}", use = [
    "subtitle",
    "edit",
  ] },
]
