window {
    background-color: rgba(25, 23, 36, 0.95);
    color: #e0def4;
    border-radius: 5px;
    border: 1px solid #6e6a86;
}

entry {
    box-shadow: 0 0 4px 2px #26233a;
    background-color: rgba(38, 35, 58, 0.8);
    color: #e0def4;
    border: 1px solid #6e6a86;
    border-radius: 6px;
}

button,
image {
    background: none;
    border: none;
    margin: 2px;
    color: #c4a7e7;
}

button:hover {
    background-color: rgba(196, 167, 231, 0.15);
    box-shadow: 0 0 4px 2px #26233a;
}

#category-button {
    margin: 0;
    color: #c4a7e7;
}

#pinned-box {
    padding-bottom: 0px;
    border-bottom: 0px solid #6e6a86;
}

#files-box {
    padding: 0px;
    border: 0px solid #6e6a86;
}
